.navbar{
    background-color: white;
    padding: 20px 0px;
    box-shadow: 0px 5px 6px grey;
}

.nav-item{
    margin-right: 50px;
}

.navIMG{
    height: 40px;
}

.nav-link{
    /* height: 100px; */
    /* object-fit: inherit; */
    /* object-fit: cover; */
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.nav-link:hover{
    /* background-color: rgb(29,42,77); */
    color: rgb(56,81,162);
}

.navbar-brand{
    margin-right: 100px;
}

.counter{
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
}

.counter div{
    font-size: 15px;
    margin-right: 10px;
}

#reset{
    border: solid 1px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    background-color: #373737;
    color: rgb(77, 119, 255);
}

.banner_hold{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
    background-image: url(/assets/images/bannerImage1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_text{
    text-align: left;
    color: rgb(29,42,77);
}

.banner_text h1{
    font-family: "Quicksand", sans-serif;
    text-transform: capitalize;
    font-size: 45px;
    font-weight: 700;
}

.banner_text p{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.aboutUs_hold{
    width: 100%;
    height: 500px;
    /* padding-left: 30px; */
    background-color: rgb(29,42,77);
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.aboutUs_items{
    color: white;
    display: flex;
}

.aboutUs_hold div{
    width: 75%;
}

/* .aboutUs_hold h1{
    width: 200%;
} */

.profEd_hold{
    height: 550px;
    display: flex;
}

.profEd_items{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profEd_img{
    width: 300px;
    margin-left: 30px;
    border-radius: 15px;
}

.profEd_text{
    width: 65%;
    margin-left: 30px;
}

.profEd_text button{
    height: 40px;
    border-radius: 8px;
    border: 1px;
    background-color: lightblue;
}

.profEd_text p{
    font-size: 25px;
}

/* .patEd_hold{
    height: 550px;
    display: flex;
}

.patEd_items{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    
}

.patEd_text p{
    font-size: 25px;
}

.patEd_text{
    width: 55%;
    margin-left: 10%;
}

.patEd_img{
    width: 300px;
    margin-right: 20%;
    border-radius: 15px;
    box-shadow: ;
}

.patEd_text button{
    height: 40px;
    border-radius: 8px;
    border: 1px;
    background-color: lightblue;
} */

.tabDiv_items{
    margin: 30px;
    display: flex;
}

.tabIMG{
    width: 450px;
    margin-right: 30px;
}

@media (max-width: 768px) {
    .tabDiv_items{
        flex-wrap: wrap-reverse;
    }
    .tabIMG{
        margin-top: 30px;
    }
}

@media (max-width: 480px) {
    .tabIMG{
        width: 200px;
    }
}

.blog_items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog_link{
    text-align: center;
}

.blog_link a{
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    /* font-family: 'Merriweather', serif; */
}

/* product cards */
#product-cards{
    margin-top: 150px;
}
#product-cards h1{
    color: navy;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid navy;
}
#product-cards .card h3{
    font-size: 20px;
    color: black;
}
#product-cards .card p{
    font-size: 12px;
    margin-top: 5px;
    color: black;
}

.checked{
    color: navy;
}
#product-cards .card h2{
    font-size: 20px;
    color: black;
    margin-top: 20px;
}
#product-cards .card h2 span{
    float: right;
    color: black;
    cursor: pointer;
}
@media screen and (max-width:1000px){
    #product-cards .card h3{
        font-size: 15px;
    }
}
/* product cards */

html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

#footer{
    padding: 0 0 30px 0px;
    color: white;
    font-size: 14px;
    background-color: rgb(29,42,77);
    margin-top: 100px;
}
#footer .footer-top{
    padding: 60px 0 30px 0;
    background-color: rgb(29,42,77);
    color: white;
}
#footer .footer-top .footer-contact{
    margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3{
    color: white;
}
#footer .footer-top .footer-contact h4{
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}
#footer .footer-top .footer-contact p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: white;
}
#footer .footer-top h4{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}
#footer .footer-top .footer-links{
    margin-bottom: 30px;
    margin-top: 10px;
}
#footer .footer-top .footer-links h4{
    color: white;
}
#footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-top .footer-links ul li{
    padding: 10px 0;
    display: flex;
    align-items: center;
}
#footer .footer-top .footer-links ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    line-height: 1;
    font-weight: bold;
    transition: 0.5s ease;
}
#footer .footer-top .footer-links ul li a:hover{
    color: #ffc800;
}
#footer .footer-top .socail-links a{
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    background-color: #373737;
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    transition: 0.5s ease;
}
#footer .footer-top .socail-links a:hover{
    background-color: #ffc800;
    color: white;
}
#footer .copyright{
    text-align: center;
    float: left;
}
#footer .credits{
    float: right;
    text-align: center;
    font-size: 13px;
}
#footer .credits a{
    color: #ffc800;
}

.footer_hold{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_hold p{
    font-size: 14px;
    color: rgb(29,42,77);
}


@media (max-width: 1024px){
    .navbar-brand{
        margin-right: 120px;
    }
}

@media (max-width: 320px){
    .navbar-brand{
        margin-right: 100px;
    }
    .banner_text h1{
        font-size: 40px;
    }
    .profEd_hold{
        height: 300px;
    }
    .profEd_text p{
        font-size: 10px;
    }
    .profEd_img{
        width: 150px;
    }
    .profEd_text button{
        font-size: 10px;
    }

    .footer_hold p{
        font-size: 8px;
    }
}

@media (max-width:425px) {
    
}

@media (max-width: 768px){
    .banner_hold{
        align-items: center;
        padding-left: 0px;
    }
    .banner_text{
        width: 80%;
        text-align: center;
    }
    .aboutUs_items{
        flex-direction: column;
    }
}

@media (min-width: 769px){
    .banner_text{
        width: 35%;
    }
    .banner_text p{
        width: 50%;
    }
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }