light colour{
    color-scheme: 
    rgb(77, 119, 255), 
    #21cdc0;
}

normal colour{
    color-scheme: 
    rgb(44, 76, 184), 
    #3851a2;
}

dark colour{
    color-scheme: 
    rgb(29,42,77), 
    #1d2a4d;
}