*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Merriweather', serif;
}

/* product cards */
#product-cards{
    margin-top: 150px;
}
#product-cards h1{
    color: navy;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid navy;
}
#product-cards .card h3{
    font-size: 20px;
    color: black;
}
#product-cards .card p{
    font-size: 12px;
    margin-top: 5px;
    color: black;
}

.checked{
    color: navy;
}
#product-cards .card h2{
    font-size: 20px;
    color: black;
    margin-top: 20px;
}
#product-cards .card h2 span{
    float: right;
    color: black;
    cursor: pointer;
}
@media screen and (max-width:1000px){
    #product-cards .card h3{
        font-size: 15px;
    }
}
/* product cards */


















html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}




